<aside id="sidebar">

    <a href="https://groups.google.com/forum/?fromgroups#!forum/php-fg" class="button mailing-list-button" target="_blank">
        <small>Join Our</small>
        Mailing List
    </a>

    <a href="/faq/" class="button"  id="faq-button">
        <small>Frequently Asked</small>
        Questions
    </a>

    <a href="/prs/prs-0" class="button">
        <small>Autoloading Standard</small>
        PRS-0
    </a>

    <a href="/prs/prs-1" class="button">
        <small>Basic Coding Standard</small>
        PRS-1
    </a>

    <a href="/prs/prs-2" class="button">
        <small>Coding Style Guide</small>
        PRS-2
    </a>

    <a href="/prs/prs-3" class="button">
        <small>Logger Interface</small>
        PRS-3
    </a>

    <a href="/prs/prs-4" class="button">
        <small>Improved Autoloading</small>
        PRS-4
    </a>

</aside>
